{% extends "base.html" %}
{% block content %}
<h1> Sign in </h1>
<form action="" method="post" novalidate>
    {{ f.hidden_tag() }}
    <p>
        {{ f.user.label }} <br> {{ f.user(size=32) }} 
        <br>
        {% for error in f.user.errors %}
            <span style="color: red"> [{{ error }}] </span>
        {% endfor %}
    </p>
    <p>
        {{ f.password.label }} <br> {{ f.password(size=32) }}
        <br>
        {% for error in f.password.errors %}
            <span style="color: red"> [{{ error }}] </span>
        {% endfor %}
    </p>
    <p>
        {{ f.remember.label }} <br> {{  f.remember() }}
    </p>
    <p>
        {{  f.submit() }}
    </p>
</form>

{% endblock %}